<h3>Customer Relationships</h3>
{{#each plan.customerRelationships as |relationship|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{relationship.tag}} | {{relationship.customerSegment}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{relationship.details}}
    </div>

  </div>
  <div class="row">
    {{update-form thisComponent=relationship hasCustomerSegment=true update="update"}}

    <button {{action 'delete' relationship}}>Delete </button>

  </div>

{{/each}}
