{{#if addNewKeyActivity}}
  <p>New Key Activity</p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag id="tag"}}
      </div>

      <div class="form-group">
        <label for="details">details</label>
        {{input value=details id="details"}}
      </div>

      <button {{action 'saveKeyActivity'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'keyActivityFormShow'}}>Add a Key Activity</button>
{{/if}}
