{{#if addNewKeyPartner}}
  <p>New Key Partner</p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag class="tag"}}
      </div>

      <div class="form-group">
        <label for="details">Details</label>
        {{input value=details class="details"}}
      </div>

      <button {{action 'saveKeyPartner'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'keyPartnerFormShow'}}>New</button>
{{/if}}
