{{#if addNewSalesChannel}}
  <p>New Sales Channel</p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag class="tag"}}
      </div>

      <div class="form-group">
        <label for="customerSegment">Customer Segment</label>
        {{input value=customerSegment class="customerSegment"}}
      </div>

      <div class="form-group">
        <label for="details">Details</label>
        {{input value=details class="details"}}
      </div>

      <button {{action 'saveSalesChannel'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'salesChannelFormShow'}}>New</button>
{{/if}}
