{{#if addNewCostStructure}}
  <p>New Cost Structure</p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag class="tag"}}
      </div>

      <div class="form-group">
        <label for="details">details</label>
        {{input value=details class="details"}}
      </div>

      <button {{action 'saveCostStructure'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'costStructureFormShow'}}>Add a Cost Structure</button>
{{/if}}
