{{#if addNewValueProposition}}
  <p>New Value Proposition</p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag class="tag"}}
      </div>

      <div class="form-group">
        <label for="customerSegment">customerSegment</label>
        {{input value=customerSegment class="customerSegment"}}
      </div>

      <div class="form-group">
        <label for="details">details</label>
        {{input value=details class="details"}}
      </div>

      <button {{action 'saveValueProposition'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'valuePropositionFormShow'}}>Add a Value Proposition</button>
{{/if}}
