{{#if addNewCustomerSegment}}
  <p>New Customer Segment</p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag class="tag"}}
      </div>

      <div class="form-group">
        <label for="details">details</label>
        {{input value=details class="details"}}
      </div>

      <button {{action 'saveCustomerSegment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'customerSegmentFormShow'}}>Add a Customer Segment</button>
{{/if}}
