<h3>Revenue Streams</h3>
{{#each plan.revenueStreams as |revenueStream|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{revenueStream.tag}} | {{revenueStream.customerSegment}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{revenueStream.details}}
    </div>

  </div>
  <div class="row">
    {{update-form thisComponent=revenueStream hasCustomerSegment=true update="update"}}

    <button {{action 'delete' revenueStream}}>Delete </button>
  </div>
{{/each}}
