<h3>Sales Channels</h3>
{{#each plan.salesChannels as |salesChannel|}}

  {{salesChannel.tag}} | {{salesChannel.customerSegment}}

  <ul>
    <li>{{salesChannel.details}}</li>
  </ul>

  {{update-form thisComponent=salesChannel hasCustomerSegment=true update="update"}}

  <button {{action 'delete' salesChannel}}>Delete </button>

{{/each}}
