{{#if updateForm}}
  <p><strong>Update</strong></p>
  <div>
    <form>
      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=thisComponent.tag id="tag"}}
      </div>

      {{#if hasCustomerSegment}}
        <div class="form-group">
          <label for="details">Customer Segment</label>
          {{input value=thisComponent.customerSegment id="customerSegment"}}
        </div>
      {{/if}}

      <div class="form-group">
        <label for="details">Details</label>
        {{textarea rows="5" value=thisComponent.details id="details"}}
      </div>

      <button {{action 'update' thisComponent}}>Update</button>
    </form>
  </div>
{{else}}
  <button {{action 'showUpdateForm'}}>Update</button>
{{/if}}
