<h3>Value Propositions</h3>
{{#each plan.valuePropositions as |valueProposition|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{valueProposition.tag}} | {{valueProposition.customerSegment}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{valueProposition.details}}
    </div>

  </div>
  <div class="row">
    {{update-form thisComponent=valueProposition hasCustomerSegment=true update="update"}}

    <button {{action 'delete' valueProposition}}>Delete </button>
  </div>
{{/each}}
