<h3>Value Propositions</h3>
{{#each plan.valuePropositions as |valueProposition|}}
  {{valueProposition.tag}} | {{valueProposition.customerSegment}}
  <ul>
    <li>{{valueProposition.details}}</li>
  </ul>
  
  {{update-form thisComponent=valueProposition hasCustomerSegment=true update="update"}}

  <button {{action 'delete' valueProposition}}>Delete </button>

{{/each}}
