<div class="row">
  <h2 class="text-center">{{model.title}} Version: {{model.version}}, Author: {{model.author}}, Date: {{model.date}}</h2>

</div>
<div class="row">
  <div class="col-lg-2">
    <div class="well long">
      {{key-partners plan=model destroyComponent="destroyComponent"}}
      {{new-key-partner saveKeyPartner="saveKeyPartner" plan=model}}
    </div>
  </div>
  <div class="col-lg-2">
    <div class="row">
      <div class="well short">
        {{key-activities plan=model destroyComponent="destroyComponent"}}
        {{new-key-activity saveKeyActivity="saveKeyActivity" plan=model}}
      </div>
    </div>
    <div class="row">
      <div class="well short">
        {{key-resources plan=model destroyComponent="destroyComponent"}}
        {{new-key-resources saveKeyResource="saveKeyResource" plan=model}}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="well long">
      {{value-propositions plan=model destroyComponent="destroyComponent"}}
      {{new-value-proposition saveValueProposition="saveValueProposition" plan=model}}
    </div>
  </div>
  <div class="col-lg-2">
    <div class="row">
      <div class="well short">
        {{customer-relationships plan=model update="update" destroyComponent="destroyComponent"}}
        {{new-customer-relationship saveCustomerRelationship="saveCustomerRelationship" plan=model}}

      </div>
    </div>
    <div class="row">
      <div class="well short">
        {{sales-channels plan=model destroyComponent="destroyComponent"}}
        {{new-sales-channel saveSalesChannel="saveSalesChannel" plan=model}}
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="well long">
      {{customer-segments plan=model update="update" destroyComponent="destroyComponent"}}
      {{new-customer-segment saveCustomerSegment="saveCustomerSegment" plan=model}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="well short">
      {{cost-structures plan=model destroyComponent="destroyComponent"}}
      {{new-cost-structure saveCostStructure="saveCostStructure" plan=model}}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well short">
      {{revenue-streams plan=model destroyComponent="destroyComponent"}}
      {{new-revenue-stream saveRevenueStream="saveRevenueStream" plan=model}}
    </div>
  </div>
</div>
